{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>KidFit</title>

	<!-- Custom fonts for this template-->
	<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

	<!-- Custom styles for this template-->
	<link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

			<!-- Sidebar - Brand -->
			<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
				<div class="sidebar-brand-icon rotate-n-15">
					<i class="fas fa-laugh-wink"></i>
				</div>
				<div class="sidebar-brand-text mx-3">KidFuck </div>
			</a>

			<!-- Divider -->
			<hr class="sidebar-divider my-0">

			<!-- Nav Item - Dashboard -->
			<li class="nav-item active">
				<a class="nav-link" href="/">
					<i class="fas fa-fw fa-home"></i>
					<span>Home</span></a>
				</li>

				<!-- Divider -->
				<hr class="sidebar-divider">

				<!-- Heading -->
				<div class="sidebar-heading">
					Tools
				</div>

				<!-- Nav Item - Pages Collapse Menu -->
				<li class="nav-item">
					<a class="nav-link" href="/size-conversion">
						<i class="fas fa-fw fa-equals"></i>
						<span>Size Conversion</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/size-charts">
							<i class="fas fa-fw fa-table"></i>
							<span>Size Charts</span></a>
						</li>


						<!-- Nav Item - Utilities Collapse Menu -->

						<!-- Divider -->
						<hr class="sidebar-divider">

						<!-- Heading -->
						<div class="sidebar-heading">
							Extra
						</div>

						<!-- Nav Item - Pages Collapse Menu -->
						<li class="nav-item">
							<a class="nav-link" href="/about-us">
								<i class="fas fa-fw fa-address-card"></i>
								<span>About Us</span></a>
							</li>

							<!-- Divider -->
							<hr class="sidebar-divider d-none d-md-block">

							<!-- Sidebar Toggler (Sidebar) -->
<!-- <div class="text-center d-none d-md-inline">
	<button class="rounded-circle border-0" id="sidebarToggle"></button>
</div> -->

</ul>
<!-- End of Sidebar -->

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

	<!-- Main Content -->
	<div id="content">

		<!-- Topbar -->
		<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow ">

			<!-- Sidebar Toggle (Topbar) -->
			<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
				<i class="fa fa-bars"></i>
			</button>

			<!-- Topbar Search -->
			<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
				<div class="input-group">
					<input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
					<div class="input-group-append">
						<button class="btn btn-primary" type="button">
							<i class="fas fa-search fa-sm"></i>
						</button>
					</div>
				</div>
			</form>

			<!-- Topbar Navbar -->
			<ul class="navbar-nav ml-auto">

				<!-- Nav Item - Search Dropdown (Visible Only XS) -->
				<li class="nav-item dropdown no-arrow d-sm-none">
					<a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-search fa-fw"></i>
					</a>
					<!-- Dropdown - Messages -->
					<div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
						<form class="form-inline mr-auto w-100 navbar-search">
							<div class="input-group">
								<input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
								<div class="input-group-append">
									<button class="btn btn-primary" type="button">
										<i class="fas fa-search fa-sm"></i>
									</button>
								</div>
							</div>
						</form>
					</div>
				</li>


				<div class="topbar-divider d-none d-sm-block"></div>


			</ul>

		</nav>
		<!-- End of Topbar -->

		<!-- Begin Page Content -->
		<div class="container-fluid">

			<!-- Page Heading -->
			<div class="d-sm-flex align-items-center justify-content-between mb-4">
				<h1 class="h3 mb-0 text-gray-800">KidFit - Find your kid's size and the brands that fit them best!</h1>
				<!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
			</div>



			<!-- Content Row -->

			<div class="row">

				<!-- Area Chart -->
				<div class="col-xl-6 col-lg-6">
					<div class="card shadow mb-4">
						<!-- Card Header - Dropdown -->
						<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
							<h6 class="m-0 font-weight-bold text-primary">Find Your Kid's Size</h6>
							
						</div>
						<!-- Card Body -->
						<div class="card-body">
							<p class="text-gray-900 mb-4 h6">Enter your kid's measurements to find their size in every brand.</p>
							<div class="px-5 pb-5">

								<form action="/output" method="post" class="user">
									{% csrf_token %}
									<div class="form-group row">
										<!-- <div class="col-sm-4 mb-3 mb-sm-0">
											<label class="form-control-label small" for="age">Age</label>
											<input type="number" class="form-control" id="age" placeholder="Age">
										</div> -->
										<div class="col-sm-4 mb-3 mb-sm-0">
											<label class="form-control-lab
											el small" for="gender">Gender</label>
											<select class="form-control" id="gender" name="gender">
												<option value="girl" {% if gender == "girl" %} selected="selected" {% endif %}>Girl</option>
												<option value="boy" {% if gender == "boy" %} selected="selected" {% endif %}>Boy</option>
											</select>
										</div>
									</div>
									<div class="form-group row">
										<div class="col-sm-3 mb-3 mb-sm-0">
											<div class="custom-control custom-radio">
												<input type="radio" class="custom-control-input" id="inches" name="measurement" value="inches" {% if inch == 1 %} checked="checked" {% endif %}>
												<label class="custom-control-label small" for="inches" >inches/lb</label>
											</div>
										</div>
										<div class="col-sm-3 mb-3 mb-sm-0">
											<div class="custom-control custom-radio">
												<input type="radio" class="custom-control-input" id="centimeters" name="measurement" value="centimeters" {% if cent == 1 %} checked="checked" {% endif %}>
												<label class="custom-control-label small" for="centimeters">centimeters/kg</label>
											</div>
										</div>
									</div>

									
									<div class="form-group row">
										<div class="col-sm-4 mb-3 mb-sm-0">
											<label class="form-control-label small" for="weight">Weight</label>
											<input type="number" class="form-control" name="weight" id="weight" placeholder="Weight"  value="{{weight}}">
											<!-- 20 -->
											<!-- 44.0925 -->
										</div>
										<div class="col-sm-4">
											<label class="form-control-label small" for="height">Height</label>
											<input type="number" class="form-control" name="height" id="height" placeholder="Height" value="{{height}}">
											<!-- 124 -->
											<!-- 48.8189 -->
										</div>
										<div class="col-sm-4">
											<label class="form-control-label small" for="inseam">Inseam</label>
											<input type="number" class="form-control" name="inseam" id="inseam" placeholder="Inseam" value="{{inseam}}">
										</div>
										<!-- 60 -->
										<!-- 23.622 -->
									</div>
									<div class="form-group row">
										<div class="col-sm-4 mb-3 mb-sm-0">
											<label class="form-control-label small" for="chest">Chest</label>
											<input type="number" class="form-control" name="chest" id="chest" placeholder="Chest" value="{{chest}}">
											<!-- 58 -->
											<!-- 22.8346 -->
										</div>
										<div class="col-sm-4">
											<label class="form-control-label small" for="waist">Waist</label>
											<input type="number" class="form-control" name="waist" id="waist" placeholder="Waist" value="{{waist}}">
											<!-- 54 -->
											<!-- 21.2598 -->
										</div>
										<div class="col-sm-4">
											<label class="form-control-label small" for="hip">Low Hip</label>
											<input type="number" class="form-control" name="hip" id="hip" placeholder="Low Hip" value="{{hip}}">
											<!-- 60 -->
											<!-- 23.622 -->
										</div>
									</div>
									<div class="form-group row">
										<div class="col-sm-4 mb-3 mb-sm-0">
											<label class="form-control-label small" for="foot">Length of Foot</label>
											<input type="number" class="form-control" name="foot" id="foot" placeholder="Foot" value="{{foot}}">
											<!-- 24 -->
											<!-- 9.44882 -->
										</div>
										
									</div>

									<br>
									<input type="submit"  class="btn btn-primary btn-user btn-block" name="submit" value="Find My Size">
								<!-- <a href="login.html" class="btn btn-primary btn-user btn-block">
									Find My Size
								</a> -->
							</form>
							<!-- {{BestFit}} {{go}}{{boys}} {{brand}} -->

						</div>
					</div>
				</div>
				
				

			</div>

			<div class="col-xl-6 col-lg-6">
				<div class="card shadow mb-4">
					<div class="card-header border-0">
						<div class="row align-items-center">
							<div class="col">
								<h6 class="m-0 font-weight-bold text-primary">Best Fit</h6>
							</div>
						</div>
					</div>
					<div class="table-responsive">
						<!-- Projects table -->
						<table class="table table-responsive-md align-items-center table-flush">
							<thead class="thead-light">
								<tr>
									<th scope="col">Category</th>
									<th scope="col">Brand</th>
									<th scope="col">Size</th>
									<th scope="col">Best Fit</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>
										Tops
									</th>
									<td>
										<span class="text-capitalize">Ralph Lauren</span>
									</td>
									<td>
										6x
									</td>
									<td>
										92%
									</td>
								</tr>
								<tr>
									<th>
										Bottoms
									</th>
									<td>
										<span class="text-capitalize">H&M</span>
									</td>
									<td>
										7-8
									</td>
									<td>
										86%
									</td>
								</tr>
								<tr>
									<th>
										Belts
									</th>
									<td>
										<span class="text-capitalize">H&M</span>
									</td>
									<td>
										7-8
									</td>
									<td>
										76%
									</td>
								</tr>
								<tr>
									<th>
										Shoes
									</th>
									<td>
										<span class="text-capitalize">Ralph Lauren</span>
									</td>
									<td>
										6x
									</td>
									<td>
										92%
									</td>
								</tr>
								
							</tbody>
						</table>
					</div>
				</div>
		</div>
	

		</div>



		<div class="row">
			<div class="col-xl-6 mb-5 mb-xl-0">
				<div class="card shadow">
					<div class="card-header border-0">
						<div class="row align-items-center">
							<div class="col">
								<h6 class="m-0 font-weight-bold text-primary">Tops</h6>
							</div>
						</div>
					</div>
					<div class="table-responsive">
						<!-- Projects table -->
						<table class="table table-responsive-md align-items-center table-flush">
							<thead class="thead-light">
								<tr>
									<th scope="col">No.</th>
									<th scope="col">Brand</th>
									<th scope="col">Size</th>
									<th scope="col">Best Fit</th>
								</tr>
							</thead>
							<tbody>
								{% if size %}
								{% for i in size %}
								{% for key, value in i.0.items %}
								{% if 'belts' not in key %}
								{% if 'shoes' not in key %}
								{% if 'socks' not in key %}
								{% if 'fit' not in key %}

								<tr>
									<th scope="row">
										{{ forloop.parentloop.counter }}
									</th>
									<td>
										<span class="text-capitalize">{{i.1}}</span>
									</td>
									<td>
										{{value.0}}
									</td>
									<td>
										{{value.1}}%
									</td>
								</tr>
								
								{% endif %}
								{% endif %}
								{% endif %}
								{% endif %}
								{% endfor %}
								{% endfor %}
								{% endif %}
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="col-xl-6 mb-5 mb-xl-0">
				<div class="card shadow">
					<div class="card-header border-0">
						<div class="row align-items-center">
							<div class="col">
								<h6 class="m-0 font-weight-bold text-primary">Bottoms</h6>
							</div>
						</div>
					</div>
					<div class="table-responsive">
						<!-- Projects table -->
						<table class="table table-responsive-md align-items-center table-flush">
							<thead class="thead-light">
								<tr>
									<th scope="col">No.</th>
									<th scope="col">Brand</th>
									<th scope="col">Size</th>
									<th scope="col">Best Fit</th>
								</tr>
							</thead>
							<tbody>
								{% if size %}
								{% for i in size %}
								{% for key, value in i.0.items %}
								{% if 'belts' not in key %}
								{% if 'shoes' not in key %}
								{% if 'socks' not in key %}
								{% if 'fit' not in key %}

								<tr>
									<th scope="row">
										{{ forloop.parentloop.counter }}
									</th>
									<td>
										<span class="text-capitalize">{{i.1}}</span>
									</td>
									<td>
										{{value.0}}
									</td>
									<td>
										{{value.1}}%
									</td>
								</tr>
								{% endif %}
								{% endif %}
								{% endif %}
								{% endif %}
								{% endfor %}
								{% endfor %}
								{% endif %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			
		</div>

		<br>
		<div class="row">
			<div class="col-xl-6 mb-5 mb-xl-0">
				<div class="card shadow">
					<div class="card-header border-0">
						<div class="row align-items-center">
							<div class="col">
								<h6 class="m-0 font-weight-bold text-primary">Belts</h6>
							</div>
						</div>
					</div>
					<div class="table-responsive">
						<!-- Projects table -->
						<table class="table table-responsive-md align-items-center table-flush">
							<thead class="thead-light">
								<tr>
									<th scope="col">No.</th>
									<th scope="col">Brand</th>
									<th scope="col">Size</th>
									<th scope="col">Best Fit</th>
								</tr>
							</thead>
							<tbody>
								{% if size %}
								{% for i in size %}
								{% for key, value in i.0.items %}
								{% if 'belts' in key %}


								<tr>
									<th scope="row">
										{{ forloop.parentloop.counter }}
									</th>
									<td>
										<span class="text-capitalize">{{i.1}}</span>
									</td>
									<td>
										<span class="text-capitalize">{{value.0}}</span>
									</td>
									<td>
										{{value.1}}%
									</td>
								</tr>
								
								{% endif %}
								{% endfor %}
								{% endfor %}
								{% endif %}
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="col-xl-6 mb-5 mb-xl-0">
				<div class="card shadow">
					<div class="card-header border-0">
						<div class="row align-items-center">
							<div class="col">
								<h6 class="m-0 font-weight-bold text-primary">Shoes</h6>
							</div>
						</div>
					</div>
					<div class="table-responsive">
						<!-- Projects table -->
						<table class="table table-responsive-md align-items-center table-flush">
							<thead class="thead-light">
								<tr>
									<th scope="col">No.</th>
									<th scope="col">Brand</th>
									<th scope="col">Size</th>
									<th scope="col">Best Fit</th>
								</tr>
							</thead>
							<tbody>
								{% if size %}
								{% for i in size %}
								{% for key, value in i.0.items %}
								{% if 'shoes' in key %}

								<tr>
									<th scope="row">
										{{ forloop.parentloop.counter }}
									</th>
									<td>
										<span class="text-capitalize">{{i.1}}</span>
									</td>
									<td>
										{{value.0}}
									</td>
									<td>
										{{value.1}}%
									</td>
								</tr>
								{% endif %}
								{% endfor %}
								{% endfor %}
								{% endif %}

							</tbody>
						</table>
					</div>
				</div>
			</div>
			
		</div>

		<br>


		

		

	</div>
	<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
	<div class="container my-auto">
		<div class="copyright text-center my-auto">
			<span>Copyright &copy; Your Website 2019</span>
		</div>
	</div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
	<i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
			<div class="modal-footer">
				<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
				<a class="btn btn-primary" href="login.html">Logout</a>
			</div>
		</div>
	</div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
<script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>

</body>

</html>
