{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>KidFit - Size Conversion</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">KidFit </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-home"></i>
                    <span>Home</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Tools
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item active">
                <a class="nav-link" href="/size-conversion">
                    <i class="fas fa-fw fa-equals"></i>
                    <span>Size Conversion</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/size-charts">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Size Charts</span></a>
            </li>


            <!-- Nav Item - Utilities Collapse Menu -->

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Extra
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="/about-us">
                    <i class="fas fa-fw fa-address-card"></i>
                    <span>About Us</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <!-- <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
</div> -->

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow ">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>


                        <div class="topbar-divider d-none d-sm-block"></div>


                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">International Conversion Chart
                            for Children’s Clothing</h1>
                        <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
                    </div>

                    <div class="row">
                        <div class="col-xl-5 mb-5">
                            <div class="card shadow">
                                <div class="card-header border-0">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h5 class="m-0 font-weight-bold text-primary">Convert From:</h6>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-12 mb-6">
                                            <form class="d-none d-sm-inline-block form-inline ml-md-3 my-2 mw-100 navbar-search py-2">
                                                <div class="input-group">
                                                    <input type="text" style="width: 300px;"class="form-control bg-light border-1 small mr-2" placeholder="Enter Here"
                                                        aria-label="Search">
                                                    <div class="input-group-append">
                                                        <div class="dropdown">
                                                            <button class="btn btn-primary dropdown-toggle ml-3" type="button" data-toggle="dropdown">
                                                                US
                                                              </button>
                                                            <div class="dropdown-menu">
                                                              <a class="dropdown-item" href="#" onclick="updateDropdown(this)">UK</a>
                                                              <a class="dropdown-item" href="#" onclick="updateDropdown(this)">Europe</a>
                                                              <a class="dropdown-item" href="#" onclick="updateDropdown(this)">Australia</a>
                                                            </div>
                                                        </div>
                                                          
                                                        <script>
                                                        function updateDropdown(option) {
                                                            // Get the text of the selected option
                                                            var selectedText = option.textContent.trim();
                                                            // Update the text of the dropdown button with the selected option
                                                            var dropdownButton = option.closest('.dropdown').querySelector('.dropdown-toggle');
                                                            dropdownButton.innerHTML = selectedText;
                                                        }
                                                        </script>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <p>Enter the size of your shoes or clothes, and then select the metrics that it uses.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 mb-5">
                            
                        </div>
                        <div class="col-xl-5 mb-5">
                            <div class="card shadow">
                                <div class="card-header border-0">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h5 class="m-0 font-weight-bold text-primary">To:</h6>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-12 mb-6">
                                            <form class="d-none d-sm-inline-block form-inline ml-md-3 my-2 mw-100 navbar-search py-2">
                                                <div class="input-group">
                                                    <input type="text" style="width: 300px;"class="form-control bg-light border-1 small mr-2" placeholder="It Will Show Up Here"
                                                        aria-label="Search" readonly>
                                                    <div class="input-group-append">
                                                        <div class="dropdown">
                                                            <button class="btn btn-primary dropdown-toggle ml-3" type="button" data-toggle="dropdown">
                                                                US
                                                              </button>
                                                            <div class="dropdown-menu">
                                                              <a class="dropdown-item" href="#" onclick="updateDropdown(this)">UK</a>
                                                              <a class="dropdown-item" href="#" onclick="updateDropdown(this)">Europe</a>
                                                              <a class="dropdown-item" href="#" onclick="updateDropdown(this)">Australia</a>
                                                            </div>
                                                        </div>
                                                          
                                                        <script>
                                                        function updateDropdown(option) {
                                                            // Get the text of the selected option
                                                            var selectedText = option.textContent.trim();
                                                            // Update the text of the dropdown button with the selected option
                                                            var dropdownButton = option.closest('.dropdown').querySelector('.dropdown-toggle');
                                                            dropdownButton.innerHTML = selectedText;
                                                        }
                                                        </script>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <p>Enter the size of your shoes or clothes, and then select the metrics that it uses.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-6 mb-5 mb-xl-0">
                            <div class="card shadow">
                                <div class="card-header border-0">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h6 class="m-0 font-weight-bold text-primary">General Clothing</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <!-- Projects table -->
                                    <table class="table table-responsive-md align-items-center table-flush">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>US</th>
                                                <th>UK</th>
                                                <th>Europe</th>
                                                <th>Australia</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>12-18 m</td>
                                                <td>12 m </td>
                                                <td>80 cm</td>
                                                <td> </td>
                                            </tr>
                                            <tr>
                                                <td>18-24 m</td>
                                                <td>18 m</td>
                                                <td>80-86 cm</td>
                                                <td>18 m</td>
                                            </tr>
                                            <tr>
                                                <td>23/24 m</td>
                                                <td>24 m</td>
                                                <td>86-92 cm</td>
                                                <td>2</td>
                                            </tr>
                                            <tr>
                                                <td>2T</td>
                                                <td>2-3</td>
                                                <td>92-98 cm</td>
                                                <td>3</td>
                                            </tr>
                                            <tr>
                                                <td>4T</td>
                                                <td>3-4</td>
                                                <td>98-104 cm</td>
                                                <td>4</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>4-5</td>
                                                <td>104-110 cm</td>
                                                <td>5</td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>5-6</td>
                                                <td>110-116 cm</td>
                                                <td>6</td>
                                            </tr>
                                            <tr>
                                                <td>6X-7</td>
                                                <td>6-7</td>
                                                <td>116-122 cm</td>
                                                <td>7</td>
                                            </tr>
                                            <tr>
                                                <td>7 to 8</td>
                                                <td>7-8</td>
                                                <td>122-128 cm</td>
                                                <td>8</td>
                                            </tr>
                                            <tr>
                                                <td>9 to 10</td>
                                                <td>8-9</td>
                                                <td>128-134 cm</td>
                                                <td>9</td>
                                            </tr>
                                            <tr>
                                                <td>10</td>
                                                <td>9-10</td>
                                                <td>134-140 cm</td>
                                                <td>10</td>
                                            </tr>
                                            <tr>
                                                <td>11</td>
                                                <td>10-11</td>
                                                <td>140-146 cm</td>
                                                <td>11</td>
                                            </tr>
                                            <tr>
                                                <td>14</td>
                                                <td>11-12</td>
                                                <td>146-152 cm</td>
                                                <td>12</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-footer">
                                    <p>Reference to <a target="_blank"
                                            href="https://www.size.ly/conversion-charts/childrens-international-size-conversion-chart">https://www.size.ly/conversion-charts/childrens-international-size-conversion-chart</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 mb-5 mb-xl-0">
                            <div class="card shadow">
                                <div class="card-header border-0">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h6 class="m-0 font-weight-bold text-primary">Shoes</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <!-- Projects table -->
                                    <table class="table table-responsive-md align-items-center table-flush">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>US</th>
                                                <th>UK</th>
                                                <th>Europe</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>0.5</td>
                                                <td>16</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>1</td>
                                                <td>17</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>2</td>
                                                <td>18</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>3</td>
                                                <td>19</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>4</td>
                                                <td>20</td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>5</td>
                                                <td>22</td>
                                            </tr>
                                            <tr>
                                                <td>7</td>
                                                <td>6</td>
                                                <td>23</td>
                                            </tr>
                                            <tr>
                                                <td>8</td>
                                                <td>7</td>
                                                <td>24</td>
                                            </tr>
                                            <tr>
                                                <td>9</td>
                                                <td>8</td>
                                                <td>25</td>
                                            </tr>
                                            <tr>
                                                <td>10</td>
                                                <td>9</td>
                                                <td>27</td>
                                            </tr>
                                            <tr>
                                                <td>11</td>
                                                <td>10</td>
                                                <td>28</td>
                                            </tr>
                                            <tr>
                                                <td>12</td>
                                                <td>11</td>
                                                <td>30</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-footer">
                                    <p>Reference to <a target="_blank"
                                            href="https://www.size.ly/conversion-charts/international-shoe-size-conversion-chart-children-and-babys">https://www.size.ly/conversion-charts/international-shoe-size-conversion-chart-children-and-babys</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <br>






                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2019</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>

</body>

</html>