{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content=""> 

	<title>KidFit</title>

	<!-- Custom fonts for this template-->
	<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

	<!-- Custom styles for this template-->
	<link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">

	<!-- Add Alpine.Js-->
	<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<ul class="navbar-nav bg-primary sidebar sidebar-dark accordion" id="accordionSidebar">

			<!-- Sidebar - Brand -->
			<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
				<div class="sidebar-brand-icon rotate-n-15">
					<i class="fas fa-tshirt"></i>
				</div>
				<div class="sidebar-brand-text mx-3">KidFit</div>
			</a>

			

				<!-- Divider -->
				<hr class="sidebar-divider">
				
				<!-- Heading -->
				<div class="sidebar-heading">
					Category
				</div>

				<!-- Nav Item - Pages Collapse Menu -->
				<li class="nav-item active">
					<a class="nav-link" href="/both">
						<i class="fas fa-child"></i>
						<span>Shirts & Pants</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/top">
							<i class="fas fa-tshirt"></i>
							<span>Shirts Only</span></a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="/bottom">
								<i class="fas fa-socks"></i>
								<span>Pants Only</span></a>
							</li>

						<!-- Divider -->
						<hr class="sidebar-divider" />

						<div class="sidebar-heading">Additional Tools</div>
				
						<!-- Nav Item - Pages Collapse Menu -->
						<li class="nav-item">
						  <a class="nav-link" href="/size-charts">
							<i class="fas fa-fw fa-table"></i>
							<span>Size Charts</span>
						  </a>
						</li>

						<!-- Divider -->
						<hr class="sidebar-divider">

						<!-- Heading -->
						<div class="sidebar-heading">
							Profile
						</div>

						<!-- Nav Item - Pages Collapse Menu -->
						{% if user.is_authenticated %}
						<li class="nav-item">
							<a class="nav-link" href="/child-info">
								<i class="fas fa-fw fa-user"></i>
								<span>Saved Measurements</span></a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="/settings">
									<i class="fas fa-cog"></i>
									<span>Settings</span></a>
								</li>

								<li class="nav-item">
									<a class="nav-link" href="#" data-toggle="modal" data-target="#logoutModal">
										<i class="fas fa-sign-out-alt"></i>
										<span>Logout</span></a>
									</li>
						{% else %}

						<li class="nav-item">
							<a class="nav-link" href="/register">
								<i class="fas fa-user-plus"></i>
								<span>Create Account</span></a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="/login">
									<i class="fas fa-sign-in-alt"></i>
									<span>Login</span></a>
								</li>

						{% endif %}
						

							<!-- Divider -->
							<hr class="sidebar-divider d-none d-md-block">

							<!-- Sidebar Toggler (Sidebar) -->
<div class="text-center d-none d-md-inline">
	<button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>

</ul>
<!-- End of Sidebar -->

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

	<!-- Main Content -->
	<div id="content">

		<!-- Topbar -->
		<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow ">

			<!-- Sidebar Toggle (Topbar) -->
			<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
				<i class="fa fa-bars"></i>
			</button>

			<!-- Topbar Search -->
			<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" method="POST" action="{% url 'sizeChart' %}">
				{% csrf_token %}
				<div class="input-group">
					<input type="text" class="form-control bg-light border-0 small" placeholder="Search brands size charts..." aria-label="Search" aria-describedby="basic-addon2" name="searched">
					<div class="input-group-append">
						<button class="btn btn-primary" type="submit">
							<i class="fas fa-search fa-sm"></i>
						</button>
					</div>
				</div>
			</form>
			

			<!-- Topbar Navbar -->
			<ul class="navbar-nav ml-auto">

				<!-- Nav Item - Search Dropdown (Visible Only XS) -->
				<li class="nav-item dropdown no-arrow d-sm-none">
					<a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-search fa-fw"></i>
					</a>
					<!-- Dropdown - Messages -->
					<div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
						<form class="form-inline mr-auto w-100 navbar-search">
							<div class="input-group">
								<input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
								<div class="input-group-append">
									<button class="btn btn-primary" type="button">
										<i class="fas fa-search fa-sm"></i>
									</button>
								</div>
							</div>
						</form>
					</div>
				</li>


				{% comment %} <div class="topbar-divider d-none d-sm-block"></div>

				<!-- Nav Item - User Information -->
				<li class="nav-item dropdown no-arrow">
					<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="mr-2 d-none d-lg-inline text-gray-600 small">{{request.user}}</span>
						<img class="img-profile rounded-circle"
							src="/static/img/undraw_profile.svg">
					</a>
					<!-- Dropdown - User Information -->
					<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
						aria-labelledby="userDropdown">
						<a class="dropdown-item" href="/profile">
							<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
							Profile
						</a>
						<a class="dropdown-item" href="/child-info">
							<i class="fas fa-person fa-sm fa-fw mr-2 text-gray-400"></i>
							Child Info
						</a>
						<!-- <a class="dropdown-item" href="#">
							<i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
							Activity Log
						</a> -->
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="" data-toggle="modal" data-target="#logoutModal">
							<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
							Logout
						</a>
					</div>
				</li> {% endcomment %}

			</ul>

		</nav>
		<!-- End of Topbar -->

		<!-- Begin Page Content -->
		<div class="container-fluid">

			<!-- Page Heading -->
			<!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
				<h1 class="h3 mb-0 text-gray-800">KidFit - Find your kid's size and the brands that fit them best!</h1> -->
				<!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
			<!-- </div> -->



			<!-- Content Row -->

			<div class="row">

				<!-- Area Chart -->
				<div class="col-xl-6 col-lg-6" x-data="{ nav: 2 }">
					<div class="card shadow mb-4">
						<!-- Card Header - Dropdown -->
						<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
							<h5 class="m-0 font-weight-bold text-primary">Find Your Kid's Size</h5>
						</div>
						<!-- Card Body -->
						<div class="card-body">
							<p class="text-gray-900 mb-4 h6">Enter your kid's measurements to find their size in every brand.</p>
							
							<div class="px-5 pb-5">
								<form action="/output" method="post" class="user" id="size_form">
									{% csrf_token %}
									<div class="form-group row">
										<div class="col-sm-4 mb-3 mb-sm-0">
											<label class="form-control-lab
											el small" for="gender">Gender</label>
											<select class="form-control" id="gender" name="gender">
												<option value="girl" {% if gender == "girl" %} selected="selected" {% endif %}>Girl</option>
												<option value="boy" {% if gender == "boy" %} selected="selected" {% endif %}>Boy</option>
											</select>
										</div>
									</div>
									<div class="form-group row">
										<div class="col-sm-3 mb-3 mb-sm-0">
											<input type="hidden" class="custom-control-input" id="centimeters" name="measurement" value="centimeters" >
										</div>
									</div>
									
									<div class="form-group row">
										<div class="col-sm-4 mb-3 mb-sm-0">
											<span class="tt" data-bs-placement="top" title="The child's weight in Kilograms">
												<label class="form-control-label small" for="weight">Weight (kg)</label>
											</span>
											<input type="number" class="form-control" name="weight" id="weight" placeholder="Weight"  value="{{weight}}" step="0.1" required>
											<!-- 20 -->
											<!-- 44.0925 -->
										</div>
										<div class="col-sm-4">
											<span class="tt" data-bs-placement="top" title="The child's height from bottom of foot to top of head in centimeters">
												<label class="form-control-label small" for="height">Height (cm)<span class="circle-badge">1</span></label>
											</span>
											<input type="number" class="form-control" name="height" id="height" placeholder="Height" value="{{height}}" step="0.1" required>
											<!-- 124 -->
											<!-- 48.8189 -->
										</div>
										<div class="col-sm-4">
											<span class="tt" data-bs-placement="top" title="The distance between the crotch and the end of the leg opening in centimeters">
												<label class="form-control-label small" for="inseam">Inseam (cm)<span class="circle-badge">2</span></label>
											</span>
											<input type="number" class="form-control" name="inseam" id="inseam" placeholder="Inseam" value="{{inseam}}" step="0.1" required>
										</div>
										<!-- 60 -->
										<!-- 23.622 -->
									</div>
									<div class="form-group row">
										<div class="col-sm-4 mb-3 mb-sm-0">
											<span class="tt" data-bs-placement="top" title="The circumference of the child's chest in centimeters">
												<label class="form-control-label small" for="chest">Chest (cm)<span class="circle-badge">3</span></label>
											</span>
											<input type="number" class="form-control" name="chest" id="chest" placeholder="Chest" value="{{chest}}" step="0.1" required>
											<!-- 58 -->
											<!-- 22.8346 -->
										</div>
										<div class="col-sm-4">
											<span class="tt" data-bs-placement="top" title="The circumference of the child's waist in centimeters">
												<label class="form-control-label small" for="waist">Waist (cm)<span class="circle-badge">4</span></label>
											</span>
											<input type="number" class="form-control" name="waist" id="waist" placeholder="Waist" value="{{waist}}" step="0.1"  required>
											<!-- 54 -->
											<!-- 21.2598 -->
										</div>
										<div class="col-sm-4">
											<span class="tt" data-bs-placement="top" title="The circumference of the child's hip in centimeters">
												<label class="form-control-label small" for="hip">Hip (cm)<span class="circle-badge">5</span></label>
											</span>
											<input type="number" class="form-control" name="hip" id="hip" placeholder="Hip" value="{{hip}}" step="0.1" required>
											<!-- 60 -->
											<!-- 23.622 -->
										</div>
									</div>
									<div class="form-group row">
										<div class="col-sm-4 mb-3 mb-sm-0">
											<input type="hidden" class="form-control" name="foot" id="foot" placeholder="Foot" value="1" required>
											<input type="hidden" name="category" value="1"/>
											<!-- 24 -->
											<!-- 9.44882 -->
										</div>
									</div>

									<br>
									<input type="submit" onclick="validateForm()" class="btn btn-primary btn-user btn-block" value="Find My Size">
								</form>
						</div>
					</div>
				</div>
				
				

			</div>

			<div class="col-xl-6 col-lg-6">
				<!-- Collapsable Card Example -->
				<div class="card shadow mb-4 border-bottom-primary">
					<!-- Card Header - Accordion -->
					<a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
						role="button" aria-expanded="true" aria-controls="collapseCardExample">
						<h5 class="m-0 font-weight-bold text-primary">Size Measurement Guide</h5>
					</a>
					<!-- Card Content - Collapse -->
					<div class="collapse show" id="collapseCardExample">
						<div class="card-body">
							<p class="text-gray-900 mb-4 h6">Use this measurement guide to find out the required measurements for the size-matching tool.</p>
							<div class="px-4 pb-4 text-center">
								<img src="/static/img/child_guide.svg" alt="Size Measurement Guide Image" width="200" height="400">
							</div>
						</div>
					</div>
				</div>
			</div>
				

	</div>
	<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
	<div class="container my-auto">
		<div class="copyright text-center my-auto">
			<span>Copyright &copy; KidFit 2023</span>
		</div>
	</div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
	<i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
			<div class="modal-footer">
				<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
				<a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
			</div>
		</div>
	</div>
</div>

<!-- Input Error Modal -->
<!-- <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Input Error</h5>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">x</span>
				</button>
			</div>
			<div class="moda-body" id="errorMessages"></div>
		</div>
	</div>
</div> -->

<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
<script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>

<script>
	const tooltips = document.querySelectorAll('.tt')
	tooltips.forEach(t => {
		new bootstrap.Tooltip(t)
	})
</script>


<script>
    function validateForm() {
        

        return true; // Allow form submission
    }
</script>




</body>

</html>
